body { 
    font-family: sans-serif; max-width: 400px; margin: 40px auto; 
}
    
ul { 
    padding: 0; 
}
    
li { 
    list-style: none; padding: 8px; border-bottom: 1px solid #ddd; display: flex; justify-content: space-between; 
}
    
button { 
    margin-left: 10px; 
}

@media (max-width: 600px){
    body {
        max-width: 100%;
        padding: 0 12px;
    }

    #taskInput {
        font-size: 16px !important;
    }
}
